.nav-menu{
    height:0;
    overflow: hidden;
   flex-direction: column;  
   background: rgba(253, 247, 247,0.7);
   position: absolute;
   box-shadow: 0 0 25px rgb(182, 180, 180);
   transition: height 1s ease-out;
   width:110px;  
}
.nav-items:visited
{
text-decoration-line: none;
color: rgb(76, 88, 95);
}
.nav-items
{
    padding-top: 10px;
}
.nav-link
{
    color:rgb(76, 88, 95);
    margin-left: -120px;
}
.nav-bar
{
   position: relative;
}
label{
    display: initial;
    
   
}
#check:checked ~ .nav-menu {
 height: 180px;
}
.header-brand
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-description-text
{
    width: 80%;
    text-align: center;
}
.section-cards
{
    height: auto;
}
.section-cards-descriptions
{
    height: auto;
text-align: center;
}
.section-cards-div
{
    width: 30vw;
}
.section-cards-div-img
{
    height: 20vh;;
}
.setting-section
{
    height: auto;
}
.setting-section-desriptions
{
    height: auto;
    text-align: center;
}
.setting-section-cards
{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.setting-section-card
{
    width:80%;
    height: auto;
}
.setting-section-card-img
{
    width: auto;
    height: 100%;
}
.setting-section-card-text
{
  font-size: 90%;
}
.footer
{
    height: auto;
}
.footer-informations
{
    display: flex;
    flex-direction: column;
}
.footer-information
{
    width: 90%;
    
}
.footer-information-links
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;;

}
.footer-information-links-div
{
    width: 50%;
}